body {
    font-family: Arial;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 30%;
    margin: 10px;
}

/* Tablet */
@media (max-width: 768px) {
    .gallery img {
        width: 45%;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .gallery img {
        width: 100%;
    }
}
        
